@import "bourbon"
@import "../vars"

.statistics
	background: url('../img/statistics/bg-statistics.png') no-repeat center center
	background-size: cover
	margin-bottom: 30px
	padding: 50px 0
	@media only screen and (max-width : 992px)
		background-size: cover
		padding: 0
	@media only screen and (max-width : 480px)
		background-size: 304%
		background: url(../img/statistics/bg-statistics.png) -810px 0 no-repeat


	&__title
		font-size: 90px
		text-align: center
		font-weight: 700
		line-height: 1.1
		margin-bottom: 30px
		position: relative
		margin-top: 40px
		&:after
			content: ''
			display: block
			background: url('../img/statistics/bg-mark.png') no-repeat
			position: absolute
			top: 428px
			right: 38px
			width: 100px
			height: 71px
		&:before
			content: ''
			display: block
			background: url('../img/statistics/bg-mark.png') no-repeat
			position: absolute
			left: 25px
			top: 470px
			width: 100px
			height: 71px
		@media only screen and (max-width : 1200px)
			margin-top: 0
		@media only screen and (max-width : 992px)
			font-size: 65px
			margin-bottom: 40px
			&:before
				top: 340px
			&:after
				display: none
		@media only screen and (max-width : 768px)
			margin-bottom: 24px;
			font-size: 52px
			&:before
				display: none
			&:after
				display: none
		@media only screen and (max-width : 480px)
			font-size: 78px
			line-height: 46px

	&__millions
		@media only screen and (max-width : 480px)
			font-size: 50px
			display: block
			margin: 6px 0

	&__title-add
		font-size: 32px
		display: block
		font-weight: 300
		@media only screen and (max-width : 992px)
			font-size: 24px
		@media only screen and (max-width : 768px)
			font-size: 19px
		@media only screen and (max-width : 480px)
			font-size: 17px
			line-height: 1.2
			margin: 0 auto
			width: 250px

	&__items
		position: relative
		margin-bottom: 75px
		&:after
			content: ''
			display: block
			background: url('../img/statistics/bg-mark.png') no-repeat
			position: absolute
			top: 160px
			left: 215px
			width: 100px
			height: 71px
		&:before
			content: ''
			display: block
			background: url('../img/statistics/bg-mark.png') no-repeat
			position: absolute
			top: 190px
			right: 155px
			width: 100px
			height: 71px
		@media only screen and (max-width : 992px)
			&:before
				top: 140px
			&:after
				top: 120px
		@media only screen and (max-width : 768px)
			margin-bottom: 35px
			&:before
				display: none
			&:after
				display: none

	&__item
		text-align: center
		@media only screen and (max-width : 992px)
			margin-bottom: 20px

		i
			font-style: normal

	&__number
		font-size: 90px
		font-weight: 700
		color: $accent
		line-height: 1.2
		@media only screen and (max-width : 992px)
			font-size: 65px

	&__text
		text-align: left
		width: 190px
		margin: 0 auto
		font-size: 14px
		font-weight: 300
		@media only screen and (max-width : 992px)
			text-align: center;
			font-size: 12px;
		@media only screen and (max-width : 768px)
			width: 100%
			line-height: 1
			width: 90%

	&__big-text
		text-align: center
		width: 500px
		margin: 0 auto
		font-size: 22px
		font-weight: 300
		position: relative
		&:after
			content: ''
			display: block
			background: url('../img/statistics/bg-mark.png') no-repeat
			position: absolute
			top: -85px
			right: 75px
			width: 100px
			height: 71px
		@media only screen and (max-width : 992px)
			font-size: 18px;
			&:after
				display: none
		@media only screen and (max-width : 768px)
			width: 100%

	&__h3
		color: $accent
		font-size: 44px
		font-weight: 700
		text-align: center
		position: relative
		line-height: 1.4
		&:after
			content: ''
			display: block
			background: url('../img/statistics/bg-mark.png') no-repeat
			position: absolute
			top: -10px
			right: -40px
			width: 100px
			height: 71px
		&:before
			content: ''
			display: block;
			background: url('../img/statistics/bg-mark.png') no-repeat
			position: absolute
			left: 150px
			top: 35px
			width: 100px
			height: 71px
		@media only screen and (max-width : 1200px)
			&:before
				left: 105px
		@media only screen and (max-width : 992px)
			font-size: 38px;
			margin-top: 60px;
			&:before
				left: 177px
				top: -55px
			&:after
				top: -60px
		@media only screen and (max-width : 768px)
			font-size: 30px;
			&:before
				display: none
			&:after
				display: none

